<div class="row">
    <div class="col">
      <nav class="nav navbar-expand-lg navbar-dark bg-dark fixed-top">
          <a routerLink="log" class="navbar-brand" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHaeM73FWJY2ZMm1d8Ecraowhy_roUBdDOJ47K9gw4ZVxj9y0h"  width="100px" height="30px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cn"
              aria-expanded="false" aria-label="Toggle navigation" style="margin-left: auto;"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse mr-0" id="cn" >
            <ul class="navbar-nav mr-0"style="margin-left: auto;">
                
                    <li class="nav-item active"><a class="nav-link text-light" routerLink="home">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-light" routerLink="medicine">Medicine</a></li>
                    <li class="nav-item"><a class="nav-link text-light" routerLink="company">Company</a></li>
                    <li class="nav-item"><a class="nav-link text-light" routerLink="sales">viewSales</a></li>
                    <li class="nav-item"><a class="nav-link text-light" routerLink="newsale">NewSales</a></li>
                    <li class="nav-item"><a class="nav-link text-light" routerLink="cart">Cart</a></li>
                    <li class="nav-item"><a class="nav-link text-light" routerLink="../log">About Us</a></li>
                   
                  
            </ul>
            
          </div>
          <a class="nav-link text-light" routerLink="../log">LogOut</a>
        </nav>
      <nav class="navbar bg-dark">
        
       
      </nav>
    </div>
  </div>
  <router-outlet class="text-light"></router-outlet>