<div class="row pt-5 pb-5" style="background-image: linear-gradient(to right top,rgba(0, 0, 0, 0.308),rgba(0, 0, 0, 0.308))">
  <div class="col-md-8 offset-md-2 col-sm-12">
    <div id="csl" class="carousel slide" data-ride="carousel" data-interval="500">
      <ol class="carousel-indicators">
        <li data-target="#csl" data-slide-to="0" class="active"></li>
        <li data-target="#csl" data-slide-to="1"></li>
        <li data-target="#csl" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item active w-100">
          <img src="https://www.360nobs.com/wp-content/uploads/2017/07/wi-740x431.jpg" alt="First slide" style="width:100%; height: 350px;">
        </div>
        <div class="carousel-item w-100">
          <img src="https://indiancashback.com/blog/wp-content/uploads/2016/04/online-medicines-healthcare-cashback-discount-coupons-1.jpg" alt="Second slide"style="width:100%; height: 350px;">
        </div>
        <div class="carousel-item w-100">
          <img src="https://www.jagranjosh.com/imported/images/E/Others/India_Srilanka_to_sign_mou_on_traditional_medicine.jpg" alt="Third slide"style="width:100%; height: 350px;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#csl" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#csl" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>